body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  font-family: 'Nunito', sans-serif;
  background-image: url('./images/geometry.png');
  /* Background pattern from Subtle Patterns */
}

.blueClass {
  color: #4CCACC;
}


h1 {
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;
  font-family: 'Nunito', sans-serif;
  color: #4134FF;
}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px;
  font-family: inherit;
}

.input {
  width: inherit;
  display: flex;
  flex-direction: column;
  font-family: inherit;
}

input {
  height: 30px;
  margin-top: 10px;
  border: none;
  border-bottom: 2px solid #4134FF;
  background-color: transparent;
  outline: none;
  font-size: 16px;
}

.addOption {
  margin-top: 10px;
  height: 30px;
  width: 70px;
  font-family: inherit;
  font-size: 14px;
  background-color: #FFD700;
  border: none;
  outline: none;
}

.addOption:hover {
  background-color: #4CCACC;
}

.goButton {
  font-size: 16px;
  background-color: #FFD700;
  border: none;
  height: 40px;
  width: 80px;
  outline: none;
}
